.btn-outline-primary {
  color: #1d3557;
  border-color: #1d3557;
}

.btn-outline-primary:hover {
  background-color: #1d3557;
  color: #fff;
}

.btn-danger {
  background-color: #e63946;
  border-color: #e63946;
}

.btn-danger:hover {
  background-color: #d62828;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger-sm {
  background-color: rgb(233, 66, 66);
  border-color: red;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-danger-sm:hover {
  background-color: #df253d;
  border-color: #df253d;
}
