<h1>Bonjour <%= @user.first_name || @user.email %>,</h1>

<p>Nous sommes désolés, mais votre événement "<strong><%= @event.title %></strong>" a été refusé par l’équipe d’administration.</p>

<p>Merci de vérifier les informations ou de proposer un autre événement.</p>

<p>À bientôt,</p>
<p>L'équipe Eventbrite Clone</p>