h1, h2 {
  color: #1d3557;
}

ul {
  line-height: 1.8;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.admin-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
}

.user-list-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
}

