html, body {
  height: 100%;
}

.flash {
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
  width: 90%;
  border-radius: 5px;
}

/* Tu peux surcharger certains styles Bootstrap, ou juste ajouter d'autres */
.flash.notice {
  /* Par exemple, changer la police */
  font-family: 'Arial Black', sans-serif;
}

.flash.alert {
  /* Ajouter une ombre */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

nav {
  color: white;
}

header {
  background-color: black;
}

.input-small {
  max-width: 100px;
}



