nav {
  color: white;
  background-color: black;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #df253d;
}

header {
  background-color: black;
}

h1 {
  background: linear-gradient(to right, #926a6a, rgb(241, 159, 6), #e739c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


